# Don't Touch This !
version: 1.1.0

# Loss Hearts On Death Don't Change This !
Loss Heart: 2

#Ban On Hearts If Its Set On 0 Than Set Loss On Hearts On 1 !
Ban On Hearts: 1

# Get Heart On Consumed A Heart
Heart : 2

# Heart Crafting 
register-recipes: true

# Max Heart Limit
max_health: 60 
# 60 Health = 30 Heart

# Recipe
RecipeItem1: HEART_OF_THE_SEA
RecipeItem2: PRISMARINE_SHARD
RecipeItem3: GOLD_INGOT
# Recipe Items Must Be Registered In Vanillaitems 
